@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

h1{
    font-family: 'Merienda One', cursive;
    color: #17a2b8;
    margin-bottom: 5% !important;
}

.card{
  width: 100%;
  min-height: 50vh;
  margin: auto;
  box-shadow: 0px 8px 30px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 80vw;
  position: relative;
}

ul{
    margin-top: 3% !important;
    margin: 3%;
    color: #17a2b8;
}